<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <!--    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"-->
    <!--          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"/>-->
    <!--    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <title>Courier Data</title>
    <style>
      .pagination {
        margin-left: 1000px;
      }
      .navbar {
        background-color: #e3f2fd;
      }
    </style>
  </head>
  <body>
    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm">
      <div class="container">
        <ul class="nav navbar-nav navbar-left">
          <a class="navbar-brand" style="color: black">Courier</a>
        </ul>
      </div>
    </nav>

    <!-- MODAL 1-->

    <div class="container mt-5">
      <!-- Modal Tambah -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal Content -->
          <div class="modal-content">
            <div class="modal-header" style="background-color: #e3f2fd">
              <h6 class="modal-title">Tambah</h6>
              <button type="button" onclick="BackCourier()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="false">&times;</span>
              </button>
            </div>

            <div class="modal-body"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <!-- Modal Ubah -->
      <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
          <!-- Modal Content -->
          <div class="modal-content">
            <div class="modal-header" style="background-color: #e3f2fd">
              <h6 class="modal-title">Ubah</h6>
              <button type="button" onclick="BackCourier()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="false">&times;</span>
              </button>
            </div>

            <div class="modal-body2"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- AKHIR MODAL 2-->

    <!-- MODAL 3-->

    <div class="container mt-5">
      <!-- Modal Hapus -->
      <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog">
          <!-- Modal Content -->
          <div class="modal-content">
            <div class="modal-header" style="background-color: #e3f2fd">
              <h6 class="modal-title">Hapus</h6>
              <button type="button" onclick="BackCourier()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="false">&times;</span>
              </button>
            </div>

            <div class="modal-body3">
              <p>Anda akan menghapus cara pembayaran Docar?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- AKHIR MODAL 3-->

    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-5 mb-5">
          <input type="text" class="form-control" placeholder="Search by name" onkeyup="SearchByCourier(this.value)" />
        </div>

        <div class="col">
          <button type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#myModal" onclick="Tambah()">Tambah</button>
        </div>
      </div>
    </div>

    <!-- AKHIR MODAL -->

    <div id="courierList"></div>

    <script>
      $.ajax({
        url: "/api/couriermapped",
        type: "get",
        contentType: "application/json",
        success: function (data) {
          var str = '<table class="table table-borderless" align="center" style="width:80%" >';
          str += "<tr>";
          str += '<th style="text-align:center"> Name </th>';
          str += '<th style="text-align:center"> created by </th>';
          str += '<th style="text-align:center" colspan = "2"> # </th>';

          str += "</tr>";
          for (i = 0; i < data.courier.length; i++) {
            str += "<tr>";
            str += '<td style="text-align:center">' + data.courier[i].name + "</td>";
            str += '<td style="text-align:center">';
            str += '<button style="width:40px; height:40px;" class="btn btn-sm btn-primary" value="' + data.courier[i].id + '" onclick="formEdit(this.value)">U</button>';
            str += '<button style="width:40px; height:40px;" class="btn btn-danger ml-3" value="' + data.courier[i].id + '" onclick="Helper(this.value)">H</button>';
            str += "</td>";
            str += "</tr>";
          }
          str += "</table>";
          str += "<br>";
          str += '<nav aria-label="Page navigation">';
          str += '<ul class="pagination"">';
          str += '<li class="page-item"><a class="page-link" onclick="NextPage(' + (data.currentPage - 1) + "," + length + ')">Previous</a></li>';
          var index = 1;
          for (i = 0; i < data.totalPages; i++) {
            str += '<li class="page-item"><a id="pageslink" class="page-link" onclick="NextPage(' + i + "," + length + ')">' + index + "</a></li>";
            index++;
          }
          str += '<li class="page-item"><a class="page-link" onclick="NextPage(' + (data.currentPage + 1 ) + "," + length + ')">Next</a></li>';
          str += "</ul>";
          str += "</nav>";
          NextPage(0, 5);
        }
      });

      function NextPage(currentPage, length) {
        $.ajax({
          url: "/api/couriermapped?page=" + currentPage + "&size=" + length,
          type: "get",
          contentType: "application/json",
          success: function (data) {
            var str = '<table class="table table-borderless" align="center" style="width:80%;" >';
            str += '<tr style="background-color: #e3f2fd;">';
            str += '<th style="text-align:center"> Name </th>';
            str += '<th style="text-align:center"> created by </th>';
            str += '<th style="text-align:center"> # </th>';
            str += "</tr>";
            for (i = 0; i < data.courier.length; i++) {
              str += "<tr >";
              str += '<td style="text-align:center">' + data.courier[i].name + "</td>";
              str += '<td style="text-align:center">' + data.courier[i].createdBy + "</td>";
              str += '<td style="text-align:center">';
              str += '<button style="width:40px; height:40px;" class="btn btn-sm btn-primary" value="' + data.courier[i].id + '" onclick="formEdit(this.value)">U</button>';
              str += '<button style="width:40px; height:40px;" class="btn btn-danger ml-3" value="' + data.courier[i].id + '" onclick="Helper(this.value)">H</button>';
              str += "</td>";
              str += "</tr>";
            }
            str += "</table>";
            str += "<br>";
            str += '<nav aria-label="Page navigation">';
            str += '<ul class="pagination">';

            str += '<li class="page-item"><a class="page-link" onclick="NextPage(' + (data.currentPage - 1) + "," + length + ')">Previous</a></li>';
            var index = 1;
            for (i = 0; i < data.totalPages; i++) {
              str += '<li class="page-item"><a id="pageslink" class="page-link" onclick="NextPage(' + i + "," + length + ')">' + index + "</a></li>";
              index++;
            }

            if(index >= 3){
              str += '<li class="page-item"><a class="page-link" onclick="NextPage(' + (data.currentPage + 1) + "," + length + ')">Next</a></li>';
            }
                 else{
              str += '<li class="page-item"><a class="page-link" href="#">Next</a></li>';
            }

            str += "</ul>";
            str += "</nav>";

              $("#courierList").html(str);

          },
        });
      }

      function Tambah() {
        var form = '<table class="table table-borderless">';
        form += "<tr>";
        form += "<th>Nama*</th>";
        form += "</tr>";
        form += "<tr>";
        form += '<td><input class="form-control" type="text" id="name"></td>';
        form += "</tr>";
        form += "<tr>";
        form += "<th>";
        form += '<button class="btn btn-success float-right ml-5" onclick="SaveCourier(this.value)">Simpan</button>';
        form += '<button class="btn btn-secondary float-right" onclick="BackCourier()">Batal</button>';
        form += "</th>";
        form += "</tr>";
        form += "</table>";

        $(".modal-title").html("TAMBAH");
        $(".modal-body").html(form);
        $("#myModal").modal("show");
      }

      function SaveCourier() {
        $.ajax({
          url: "/api/courier",
          type: "get",
          contentType: "application/json",
          success: function (dataGet) {
            var nameSave = $("#name").val();
            if (nameSave != "") {
              var count = 0;
              for (i = 0; i < dataGet.length; i++) {
                if (nameSave.toLowerCase() == dataGet[i].name.toLowerCase()) {
                  count += 1;
                }
              }
              if (count == 0) {
                var formData = "{";
                formData += '"name":"' + $("#name").val() + '",';
                formData += '"createdOn":"2021-03-25 13:33:40",';
                formData += '"createdBy":"1",';
                formData += '"isDelete":"false"';
                formData += "}";

                $.ajax({
                  url: "/api/courier",
                  type: "post",
                  contentType: "application/json",
                  data: formData,
                  success: function (data) {
                    SaveConfirm();
                  },
                });
              } else {
                swal("Peringatan!", "Nama Kurir sudah ada");
              }
            } else {
              swal("Peringatan!", "Nama harus diisi!");
            }
          },
        });
      }

      function SaveConfirm() {
        swal("Data Berhasil Disimpan", "", "success");
        window.setInterval(delaySave, 3000);
      }

      function delaySave() {
        window.location.href = "/courier/index";
      }

      function formEdit(id) {
        $.ajax({
          url: "/api/courier/" + id,
          type: "get",
          contentType: "application/json",
          success: function (data) {
            var form = '<table class="table table-borderless">';
            form += "<tr>";
            form += "<th>Nama*</th>";
            form += "</tr>";
            form += "<tr>";
            form += '<td><input class="form-control" type="text" id="name" value="' + data.name + '"></td>';
            form += "</tr>";
            form += "<tr>";
            form += "<th>";
            form += '<button class="btn btn-success float-right ml-5" value ="' + data.id + '" onclick="UpdateCourier(this.value)">Simpan</button>';
            form += '<button class="btn btn-secondary float-right" onclick="BackCourier()">Batal</button>';
            form += "</th>";
            form += "</tr>";
            form += "</table>";

            <!--             $('#courierList').html(form);-->

            $(".modal-title").html("Ubah");
            $(".modal-body2").html(form);
            $("#myModal2").modal("show");
          },
        });
      }

      function Helper(id) {
        $.ajax({
          url: "/api/deletecourier/" + id,
          type: "get",
          contentType: "application/json",
          success: function (data) {
            var form = '<table class="table table-borderless">';
            form += "<tr>";
            form += '<td style="text-align:center">Anda akan menghapus Kurir ' + data.name + " ?</td>";
            form += "</tr>";
            form += "<tr>";
            form += "<th>";
            form += '<button style="width:60px; height:40px;" class="btn btn-success float-right ml-5" value="' + data.id + '" onclick="formDelete(this.value)">Ya</button>';
            form += '<button style="width:60px; height:40px;" class="btn btn-secondary float-right" onclick="BackCourier()">Tidak</button>';
            form += "</th>";
            form += "</tr>";
            form += "</table>";

            $(".modal-title").html("Hapus");
            $(".modal-body3").html(form);
            $("#myModal3").modal("show");
          },
        });
      }

      function formDelete(id) {
        $.ajax({
          url: "/api/deletecourierdua/" + id,
          type: "get",
          contentType: "application/json",
          success: function (data) {
            var jsonForm = "{";
            jsonForm += '"name":"' + data.name + '",';
            jsonForm += '"createdOn": "2021-03-25 13:33:40",';
            jsonForm += '"createdBy":"1",';
            jsonForm += '"deletedOn":"2021-03-25 13:33:40",';
            jsonForm += '"deletedBy":"1",';
            jsonForm += '"isDelete":"true"';
            jsonForm += "}";

            console.log(jsonForm);

            $.ajax({
              url: "/api/deletecourier/" + id,
              type: "put",
              contentType: "application/json",
              data: jsonForm,
              success: function (dataput) {
                swal("Data Berhasil Dihapus", "", "success");
                window.setInterval(delayDelete, 2000);
              },
            });
          },
        });
      }

      function delayDelete() {
        window.location.href = "/courier/index";
      }

      function UpdateCourier(id) {
        $.ajax({
          url: "/api/courier/" + id,
          type: "get",
          contentType: "application/json",
          success: function (dataGet) {
            $.ajax({
              url: "/api/courier",
              type: "get",
              contentType: "application/json",
              success: function (dataGetDua) {
                var nameSave = $("#name").val();
                if (nameSave != "") {
                  var count = 0;
                  for (i = 0; i < dataGetDua.length; i++) {
                    if (nameSave.toLowerCase() == dataGetDua[i].name.toLowerCase()) {
                      count += 1;
                    }
                  }
                  if (count == 0) {
                    var formData = "{";
                    formData += '"name":"' + $("#name").val() + '",';
                    formData += '"createdOn": "' + dataGet.createdOn + '",';
                    formData += '"createdBy":"1",';
                    formData += '"modifiedOn":"2021-03-25 13:33:40",';
                    formData += '"modifiedBy":"1",';
                    formData += '"isDelete":"false"';
                    formData += "}";
                    $.ajax({
                      url: "/api/courier/" + id,
                      type: "put",
                      contentType: "application/json",
                      data: formData,
                      success: function (data) {
                        EditConfirm();
                      },
                    });
                  } else {
                    swal("Peringatan!", "Nama Kurir sudah ada");
                  }
                }
              },
            });
          },
        });
      }

      function EditConfirm() {
        swal("Data Berhasil Diubah", "", "success");
        window.setInterval(delayEdit, 3000);
      }

      function delayEdit() {
        window.location.href = "/courier/index";
      }

      function BackCourier() {
        $(function () {
          window.location.href = "/courier/index";
        });
      }

      function SearchByCourier(name) {
        if (name.length > 0) {
          $.ajax({
            url: "/api/searchcourier/" + name,
            type: "get",
            contentType: "application/json",
            success: function (data) {
              //tampilan hasil search

              var table = '<table class="table table-borderless" align="center" style="width:80%"  >';
              table += "<tr style='background-color: #e3f2fd;'>";
              table += '<th style="text-align:center"> Name </th>';
              table += '<th style="text-align:center" colspan = "2"> # </th>';
              table += "</tr>";

              for (i = 0; i < data.length; i++) {
                table += "<tr>";
                table += '<td style="text-align:center">' + data[i].name + "</td>";
                table += '<td style="text-align:center">';
                table += '<button style="width:40px; height:40px;" class="btn btn-sm btn-primary" value ="' + data[i].id + '" onclick = "formEdit(this.value)">U</button>';
                table += '<button style="width:40px; height:40px;" class="btn btn-danger ml-3" value ="' + data[i].id + '" onclick = "formDelete(this.value)">H</button>';
                table += "</td>";
                table += "</tr>";
              }
              table += "</table>";
              $("#courierList").html(table);
            },
          });
        } else {
          window.location.href = "/courier/index";
        }
      }
    </script>
  </body>
</html>
